/* All HTML */

* {
    box-sizing: border-box;
    margin: 0;
    text-align: justify;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(255, 244, 230);
}

p {
    text-align: center ;
}

h1,
h2 {
    text-align: center;
    margin: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h4 {
    margin: 20px;
}

.homepage-link {
    padding: 50px; 
    text-align: center;
    background-color: rgba(197, 252, 252, 0.763);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 2em;
    color: rgb(47, 89, 119);
    display: block;
    font-size: 32px;
    font-weight: bold;
}

.img-file {
    text-align: center;
}


.chicken-recipe,
.oats-recipe,
.spaghetti-recipe {
    width: 750px;
    margin: auto;
}


/* Homepage */



.chicken-link,
.spaghetti-link,
.oats-link {
    text-align: center;
    padding: 3em;
    margin: 1em 0px;
    background-color: aliceblue;
    color: rgb(0, 0, 0);
    font-size: 1.5em;
    display: block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

h1 {
    text-align: center;
    margin: 2em;
    color: rgb(234, 100, 100);
} 


/* Chicken Breast */

.chic-ingredients-list,
.chic-extra-list,
.oats-ingredients-list,
.spag-ingredients-list {
    width: 500px;
    margin: auto;
}

/* Oats */

